<nb-layout center>
    <nb-layout-header>{{ 'privacy.title' | translate }}</nb-layout-header>

    <nb-layout-column>
        La Do Your Bit garanteix el dret a la protecció de les dades personals que es faciliten a través d’aquesta aplicació en el termes establerts per la Llei orgànica 3/2018, de 5 de desembre, de Protecció de Dades Personals i garanties digitals i pel Reglament (UE) 2016/679, del Parlament Europeu i del Consell relatiu a la protecció de les persones físiques pel que fa al tractament de dades personals i a la lliure circulació d’aquestes dades, implementant les mesures de seguretat necessàries i adequades al tipus de dades personals.
        <br><br>
        Les dades que es requereixin seran les estrictament necessàries, adequades i pertinents per a la finalitat per a la qual es recullin i seran sotmeses a un tractament automatitzat.
        <br><br>
        A cada pàgina que contingui formularis que recullin dades de caràcter personal, s'informarà, de manera expressa, de:
        <br><br>
        <ul>
            <li>l'existència d'un tractament de dades de caràcter personal.</li>
            <li>la identitat i les dades de contacte del responsable del tractament.</li>
            <li>les dades de contacte del delegat de protecció de dades.</li>
            <li>les finalitats del tractament a què es destinen les dades personals i la base jurídica del tractament.</li>
            <li>les categories de destinataris de les dades personals.</li>
            <li>el termini durant el qual es conservaran les dades personals.</li>
            <li>l’existència del dret a sol·licitar al responsable del tractament l’accés a les dades personals relatives a la persona interessada, i la seva rectificació, supressió, oposició o la limitació del seu tractament.</li>
            <li>el dret a presentar una reclamació davant l’autoritat de control, si la comunicació de dades personals és un requisit legal o contractual.</li>
            <li>l’existència de decisions automatitzades inclosa l’elaboració de perfils.</li>
            <li>En cas que en algun formulari que reculli dades de caràcter personal no s'explicitin aquests drets o la manera d'exercir-los, podeu comunicar-ho a:</li>
        </ul>
        <br>
        Tanmateix, si voleu exercir els drets d'accés, rectificació, supressió, oposició i limitació del tractament sobre alguna de les vostres dades personals (incloses imatges o gravacions de veu), que poguessin aparèixer en alguna pàgina informativa dels portals de Do Your Bit, que no sigui un formulari, us podeu adreçar al responsable de la pàgina.
        <br><br>
    </nb-layout-column>
</nb-layout>